<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/materialize.ejs'); %>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Exp Cards Dashboard</title>
</head>
<body>
    <header class="deep-orange lighten-3 ">
        <h1 class="center-align white-text" id="headerTitle">Exp Cards Dashboard</h1>
    </header>
    <nav>
       <a href="/cards">Your Cards</a>
       <a href="/decks">Your Decks</a>
       <a href="/cards/new">Add New Card</a>
       <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out">
    </form>
    </nav>
</body>
</html>