<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/materialize.ejs'); %>
    <title>Create New Card</title>
</head>
<body>
    <header>
        <h1> Create New Exp Card</h1>
    </header>
    <nav>
        <a href="/">Dashboard</a>
    </nav>
    <form action="/cards/" method="POST">
        <input type="text" name="createdBy" id="createdByInput" value="<%=currentUser._id%>">
        <label for="titleInput">Title</label>
        <input type="text" name="title" id="titleInput">
        <br>
        <label for="typeSelect">Type</label>
    <select name="type" id="typeSelect">
        <option value="nature">Nature</option>
        <option value="urban">Urban</option>
    </select>
    <br />
    <label for="timeSelect">Time</label>
    <select name="time" id="timeSelect">
        <option value="dawn">Dawn</option>
        <option value="dusk">Dusk</option>
        <option value="day">Day</option>
        <option value="night">Night</option>
    </select>
    <br />
    <p>Stats:</p>
    <label for="statsAdventure">Adventure</label>
    <input type="number" name="stats.adventure" id="statsAdventure" min="0" max="10">
    <br>
    <label for="statsCommunity">Community</label>
    <input type="number" name="stats.community" id="statsCommunity" min="0" max="10">
    <br>
    <label for="statsChallenge">Challenge</label>
    <input type="number" name="stats.challenge" id="statsCommunity" min="0" max="10">
    <br>
    <label for="flavorText">Flavor Text</label>
    <textarea name="flavorText" id="flavorText" cols="28" rows="3" maxlength="70"></textarea>
    <br>
    <input type="submit" value="Create Card">

    </form>
    
</body>
</html>